body{
    background-color: white;
    color: blue;
  }
h1{
  text-align: center;
  color: black;
}
.banner{
  background-color: red;}
.navigation{
  background-color: black;
  color:white;}
  .navigation img
